# --- Compiled object files ---
*.o
*.obj
*.lo
*.slo

# --- Compiled dynamic libraries ---
*.so
*.dylib
*.dll

# --- Compiled static libraries ---
*.a
*.lib

# --- Executables ---
*.exe
*.out
*.app
a.out

# --- CMake build directories ---
/build/
/cmake-build*/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# --- Visual Studio ---
*.vcxproj*
*.sln
*.user
*.filters
*.pdb
*.ipch
*.aps
*.db
*.opendb
*.cachefile
*.tlog/
*.lastbuildstate




.vscode/

.DS_Store
*.swp
*.swo

*.log
*.tmp

/.conan/
/vcpkg_installed/
.cache
assets
app
output.mp4